#navigator-toolbox:not(:-moz-lwtheme) { background: var(--toolbar-field-background-color) !important; ) }



#nav-bar {
  padding-block-start: 10px !important;

  margin-top: -40px !important;
  border:     none !important;
  box-shadow: none !important;
  background: transparent !important;

}


#urlbar,
#urlbar * {
  padding-block-start: var(--uc-urlbar-top-spacing) !important;
  outline: none !important;
  box-shadow: none !important;

}


#urlbar[breakout] {
  top: 5px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: 90% !important;
  border: 1px solid var(--arrowpanel-background) !important;
  border-radius: 8px;
}

#urlbar[breakout][breakout-extend] {
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 90% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: 32px !important;
  padding-block: unset !important;
}

#urlbar-background { border: transparent !important; }

#urlbar[focused='true']
  > #urlbar-background,
#urlbar:not([open])
  > #urlbar-background { background: transparent !important; }


#urlbar[open]
  > #urlbar-background { background: var(--toolbar-field-background-color) !important;}


.urlbarView-row:hover
  > .urlbarView-row-inner,
.urlbarView-row[selected]
  > .urlbarView-row-inner { background: var(--toolbar-field-focus-background-color) !important; }


.urlbar-icon, #urlbar-go-button { margin: auto; }

.urlbar-page-action { padding: 0 inherit !important; }
